<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h2>📋 Task List</h2>
    <button class="btn btn-primary" routerLink="/tasks/add" routerLinkActive="active" (click)="openAddform()">Add Task</button>
  </div>
  @if (showForm) {
    <app-task-form-component
    [task]="selectedTask"
    (formSubmitted)="handleFormSubmit($event)"
    (cancel)="closeForm()"
    />
  }
  <div class="mb-3">
    <label for="statusFilter" class="form-label">Filter by Status:</label>
    <select id="statusFilter" class="form-select" [(ngModel)]="selectedStatus" (change)="applyFilter()">
      <option value="">All</option>
      @for (status of statuses; track $index) {
        <option>{{ status }}</option>
      }
    </select>
  </div>

  @if (tasks.length > 0) {
    <div class="d-flex flex-column gap-3">
      @for (task of filteredTasks; track task.id) {
        <app-task-item-component
          [task]="task"
          (edit)="handleEdit($event)"
          (delete)="handleDelete($event)"
          (toggleStatus)="handleToggleStatus($event)">
        </app-task-item-component>
      }
    </div>
  } @else {
    <p class="text-muted">No tasks available.</p>
  }
</div>
